POSTGRES_DB=deciscope
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST_PORT=5434

DATABASE_URL=postgres://postgres:postgres@localhost:5434/deciscope?sslmode=disable
ALLOWED_ORIGINS=http://localhost:5173
GOOGLE_APPLICATION_CREDENTIALS=xx