* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.db binary
*.db-shm binary
*.db-wal binary
*.exe binary
*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.sqlite binary
*.sqlite-shm binary
*.sqlite-wal binary
*.webp binary
